*{
    margin: 0;
    padding: 0;

}

.navbar {
    background-color: rgb(116, 163, 120);
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 5px;
    animation: nav-border 3s infinite reverse;
    transform: rotate(360);
}

.navbar h1{
    color: white;
    padding: 5px 5px 5px 5px;
    animation: h1-anim 3s infinite;
}

.navbar h1:hover {
color: blue;
}


@keyframes nav-border {
0%{
border-color: aqua;
transform: rotate(360);
}
50%{
    border-color: brown;
    transform: rotate(360);
}
100%{
    border-color: blueviolet;
    transform: rotate(360);
}
}
